<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data Display</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body class="bg-white">
<div id="dateSelection">
    <h2>Date Selection</h2>
    <label for="monthly">Monthly</label>
    <input type="radio" id="monthly" name="dateType" value="monthly">
    <label for="fortnightly">Fortnightly</label>
    <input type="radio" id="fortnightly" name="dateType" value="fortnightly">

</div>
<div id="container" class="row">
    <div class="col-md-6">
        <div id="table1">
            <h2>Analysis Summary</h2>
            <button>Mortgage 1</button>
            <button>Mortgage 2</button>
            <button>Combined</button>
            <p id="date">From: </p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Estimated repayment</th>
                        <td>----</td>
                    </tr>
                    <tr>
                        <th scope="row">Interest</th>
                        <td>----</td>
                    </tr>
                    <tr>
                        <th scope="row">Principle</th>
                        <td>----</td>
                    </tr>
                    <tr>
                        <th scope="row">Extra</th>
                        <td>----</td>
                    </tr>
                    <tr>
                        <th scope="row">Repayment</th>
                        <td>----</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div id="chart">
            <h2>Chart</h2>
            <a href="{{ url_for('new_mortgage') }}" class="btn btn-primary">Add New Mortgage</a>
            <a href="{{ url_for('update_mortgage') }}" class="btn btn-primary">Update Mortgage</a>
            <a href="{{ url_for('remove_mortgage') }}" class="btn btn-primary">Remove Data</a>
            <img src="/" alt="Chart">
        </div>
    </div>
</div>

<div>
    <h2>Amortization Table</h2>
    <p id="date">From: </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Balance</th>
                <th scope="col">Interest</th>
                <th scope="col">Principal</th>
                <th scope="col">Extra</th>
                <th scope="col">Payment</th>
                <th scope="col">Amount of Principal</th>
                <th scope="col">New Balance</th>
                <th scope="col">Accumulated Interest</th>
                <th scope="col">Accumulated Principal Payment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
</div>


<script>
    document.querySelectorAll('input[name="dateType"]').forEach((radio) => {
        radio.addEventListener('change', () => {
            const selectedDateType = document.querySelector('input[name="dateType"]:checked').value;
            const today = new Date();
            let outputDate;

            if (selectedDateType === "monthly") {
                outputDate = today.toDateString();
            } else if (selectedDateType === "fortnightly") {

                const fortnightlyDate = new Date(today);
                fortnightlyDate.setDate(fortnightlyDate.getDate() + 14);
                outputDate = fortnightlyDate.toDateString();
            }
            document.getElementById('selectedDate').textContent = "Selected Date: " + outputDate;
        });
    });
</script>

</body>
</html>
